<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %>  proibiram este usuário de ser salvo:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-container">

<div class="form-field">
  <%= form.label :nome, class: "form-label" %>
  <%= form.text_field :name, class: "form-input" %>
</div>

<div class="form-field">
  <%= form.label :email, class: "form-label" %>
  <%= form.text_field :email, class: "form-input" %>
</div>

<div class="form-field">
  <%= form.label :Telefone, class: "form-label" %>
  <%= form.text_field :phone, class: "form-input" %>
</div>

<div class="form-field">
  <%= form.label :CPF, class: "form-label" %>
  <%= form.text_field :cpf, class: "form-input" %>
</div>

<div class="form-actions">
  <%= form.submit "Criar", class: "btn-submit" %>
</div>

</div>
<% end %>
